
$color-primary: #673AB7;

@keyframes underline {
    0% {width: 0;}
    100% {width: 100%;}
}

#about-container{
    padding: 50px 3vw;

    .title-div{
        display: inline-block;

        .section-title{
            font-weight: lighter;
            display: inline-block;
            color: $color-primary;
            margin-bottom: 10px;
        }

        .underline-title{
            border-bottom: 2px solid $color-primary;
            margin-bottom: 20px;
            border-radius: 1px;
            animation-name: underline;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
        }
    }

    .section-body{
        color: slategray;
        line-height: 32px;
        margin-bottom: 40px;

        img{
            max-width: 100%;
            border-radius: 5px;
        }                
    }

    
    .picture-with-caption{
        text-align: center;
        img{
            max-width: 100%;
            max-height: 300px;
            border-radius: 5px;
        }

    }

}