<div id="about-container">
    <div class="col-sm-12">
        <div class="title-div">
            <h3 class="section-title">Heating Systems</h3>
            <div class="underline-title"></div>
        </div>
        <div class="section-body">
            <br>
            <p>We offer variaty of heating systems, with top level of reliability and quality</p>
            <br>
            <div class="row">
                <div class="col-12 col-md-4 m-auto picture-with-caption">
                    <div>
                        <img src="../../../assets/Heating/Radiator2.png">
                        <p>Radiator heating</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 m-auto picture-with-caption">
                    <div>
                        <img src="../../../assets/Heating/under floor.png">
                        <p>Under floor heating</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 m-auto picture-with-caption">
                    <div>
                        <img src="../../../assets/Heating/pool.png">
                        <p>Pool heating</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="col-sm-12">
        <div class="title-div">
            <h3 class="section-title">Hot water solutions</h3>
            <div class="underline-title"></div>
        </div>
        <div class="section-body">
            <br>
            <p>If you're searching for hot water products, conversion is your choice</p>
            <p>We provide heigh end water heaters, at a convient cost</p>
            <br>
            <div class="row">
                <div class="col-12 col-md-4 m-auto picture-with-caption">
                    <div>
                        <img src="../../../assets/Heating/solar2.png">
                        <p>Solar water heaters</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 m-auto picture-with-caption">
                    <div>
                        <img src="../../../assets/Heating/Gas.png">
                        <p>Gas water heater</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="col-sm-12">
        <div class="title-div">
            <h3 class="section-title">plumbing</h3>
            <div class="underline-title"></div>
        </div>
        <div class="section-body">
            <br>
            <p>We provide the best plumbing services in the market</p>
            <br>
            <div class="row">
                <div class="col-12 col-md-4 m-auto picture-with-caption">
                    <div>
                        <img src="../../../assets/Heating/piping.png">
                        <p>Cold & hot water pipping</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 m-auto picture-with-caption">
                    <div>
                        <img src="../../../assets/Heating/pool piping.png">
                        <p>Pool pipping</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>