<div class="main-container">
    <div class="title-div">
        <h3 class="section-title">About us</h3>
        <div class="underline-title"></div>
    </div>
    <div class="free-text">
        <p>
            Conversion is an electromechanical
            company based in Cairo founded in
            2015 by Eng. Tarek Khedr, which
            offers creative and unique solutions
            for both residential and commercial
            projects.
        </p>
    </div>
    <div class="free-text">
        <p>
            Conversion has covered a wide
            range of projects in Egypt in both
            heating systems and plumbing.
        </p>
    </div>
</div>