<footer class="pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-4 mt-md-0 mt-3">
                <!-- <h5 class="text-uppercase">Address</h5> -->
                <mat-icon>room</mat-icon> &nbsp;
                <span>115B Abas El Akad St, Nasr City, Cairo</span>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-2"></div>
            <div class="col-md-4 mb-md-0 mb-3">
                <!-- <h5 class="text-uppercase">Contact Information</h5> -->
                <ul class="list-unstyled">
                    <li>
                        <mat-icon>phone</mat-icon> &nbsp;
                        <span>+20226720007</span>
                    </li>
                    <li>
                        <mat-icon>mail</mat-icon> &nbsp;
                        <span>info@conversion-eg.com</span>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
        </div>
    </div>
    <div class="text-center small pb-2">© 2019 Copyright: All Rights Reserved</div>
</footer>
