
<div id="bg-div">
    <div id="bg-covering-div">
        <div class="carousel-div">
            <!-- https://mdbootstrap.com/docs/angular/advanced/carousel/ -->
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view w-100">
                    <img class="d-block w-100" src="assets/Carousel/bandwidth-close-up-computer-connection.jpg" alt="First slide">
                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                    <h3 class="h3-responsive">State of the art technology</h3>
                    <!-- <p>First text</p> -->
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                    <img class="d-block w-100" src="assets/Carousel/black-laptop-beside-audio-mixer-set.jpg" alt="Second slide">
                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                    <h3 class="h3-responsive">One step forward...</h3>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                    <img class="d-block w-100" src="assets/Carousel/woman-standing-while-carrying laptop.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                    <h3 class="h3-responsive">Explore new horizons</h3>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <br>
        <div id="all-sections" class="row">
            <div *ngFor="let section of sections$ | async" class="col-sm-12">
                <h3 class="section-title">{{ section.title }}</h3>
                <div class="section-body" [innerHTML] = "section.body"></div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- <img class="screen-image" src="assets/Electronics/black-transistor-beside-capacitor.jpg"> -->

