
$color-primary: #673AB7;

@media only screen and (max-width: 600px) {
    .carousel-div{
        max-width: 100vw !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    #all-sections{
        max-width: 100% !important;
        padding: 20px;
        margin: 0;
    }
}



.carousel-div{
    max-width: 90vw;
    width: auto;
    height: auto;
    margin: auto;
    padding: 0 3vw;

    img{
        width: auto; 
        height: auto;
    }
}
#all-sections{
    padding: 50px 3vw;

    .section-body{
        color: slategray;
        line-height: 32px;
        margin-bottom: 40px;

        img{
            max-width: 100%;
            border-radius: 5px;
        }                
    }
} 



